PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/civicconnect
JWT_SECRET=civicconnect_secure_jwt_secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=http://localhost:5173
